include CREDITS ChangeLog LICENSE README.rst
# Required for 'setup.py build'
include Makefile

graft django_xworkflows

graft dev
graft docs
graft tests

prune docs/_build

global-exclude *.py[cod] __pycache__

include tox.ini .flake8 manage.py
