include CREDITS ChangeLog LICENSE README.rst
include requirements*.txt
# Required for 'setup.py build'
include Makefile

graft django_xworkflows

prune dev
prune docs
prune tests

global-exclude *.py[cod] __pycache__

exclude tox.ini .flake8 manage.py
